<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.product.mapper.SpuSaleAttrMapper">

    <resultMap id="BaseResultMap" type="com.atguigu.gmall.model.product.SpuSaleAttr">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="spuId" column="spu_id" jdbcType="BIGINT"/>
            <result property="baseSaleAttrId" column="base_sale_attr_id" jdbcType="BIGINT"/>
            <result property="saleAttrName" column="sale_attr_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,spu_id,base_sale_attr_id,
        sale_attr_name
    </sql>
    <resultMap id="getSpuSaleAttrAndValueByspuIdrm"
               type="com.atguigu.gmall.model.product.SpuSaleAttr"
                autoMapping="true">
        <id column="id" property="id"></id>
        <collection property="spuSaleAttrValueList"
                    ofType="com.atguigu.gmall.model.product.SpuSaleAttrValue"
                    autoMapping="true">
                    <id column="vid" property="id"></id>
        </collection>


    </resultMap>
    <select id="getSpuSaleAttrAndValueByspuId" resultMap="getSpuSaleAttrAndValueByspuIdrm">
        SELECT ssa.*,
               ssav.id vid,
               ssav.`sale_attr_value_name` FROM spu_sale_attr ssa
                                                    LEFT JOIN spu_sale_attr_value ssav ON
                    ssa.`spu_id`=ssav.`spu_id` AND
                    ssa.`base_sale_attr_id`=ssav.`base_sale_attr_id`

        WHERE ssa.`spu_id`=#{spuId} ORDER BY ssa.`id`,ssav.`id`
    </select>
    <select id="getSaleAttrAndValueMarkSku" resultMap="getSpuSaleAttrAndValueByspuIdrm">
        SELECT ssa.*,
               ssav.id vid,
               ssav.`sale_attr_value_name`,
               IF(sale_attr_value_id IS NULL,"0","1") AS is_checked

        FROM spu_sale_attr ssa
                 LEFT JOIN spu_sale_attr_value ssav ON
                    ssa.`spu_id`=ssav.`spu_id` AND
                    ssa.`base_sale_attr_id`=ssav.`base_sale_attr_id`
                 LEFT JOIN `sku_sale_attr_value` skuv
                           ON ssav.`id`= skuv.sale_attr_value_id AND skuv.sku_id=#{skuId}

        WHERE ssa.`spu_id`=#{spuId}  ORDER BY ssa.base_sale_attr_id,ssav.`id`
    </select>
    <select id="getAllSkuSaleValueJson" resultType="com.atguigu.gmall.model.to.ValueSkuJsonTo">
        SELECT a.sku_id,
               GROUP_CONCAT(DISTINCT sale_attr_value_id
                            ORDER BY sale_attr_value_id ASC
                            SEPARATOR "|") AS value_json
        FROM(SELECT si.id sku_id,
                    skuav.id vid,
                    skuav.spu_id,
                    skuav.sale_attr_value_id,
                    spuav.base_sale_attr_id FROM `sku_info` si
                                                     LEFT JOIN `sku_sale_attr_value` skuav ON si.id = skuav.sku_id
                                                     LEFT JOIN `spu_sale_attr_value` spuav ON skuav.sale_attr_value_id=spuav.id
             WHERE si.spu_id=#{spuId} ORDER BY si.id,spuav.`base_sale_attr_id`,skuav.`sale_attr_value_id`) a
        GROUP BY a.sku_id

    </select>
</mapper>
